@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #f5f5f5;
}

textarea:focus {
  outline: none;
}

ol {
  list-style: decimal;
}

ul {
  list-style: initial;
}

.prose {
  max-width: 100% !important;
  width: 100%;
}

.wauto {
  @apply w-full md:w-11/12 lg:w-10/12 xl:w-8/12 2xl:w-6/12 duration-300;
}

.writeauto {
  @apply w-full md:w-7/12 lg:w-8/12 xl:w-10/12 2xl:w-full duration-300;
}