@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #f5f5f5;
}

textarea:focus {
  outline: none;
}

ol {
  list-style: decimal;
}

ul {
  list-style: initial;
}

.wauto {
  @apply w-full md:w-11/12 lg:w-10/12 xl:w-8/12 2xl:w-6/12 duration-300;
}

.writeauto {
  @apply w-full md:w-7/12 lg:w-8/12 xl:w-10/12 2xl:w-full duration-300;
}

.markdown-alert {
  @apply !border-l-2 border-2 rounded-lg p-4 my-4 !px-2 !leading-snug;
}
.markdown-alert-note {
  @apply !border-indigo-100 bg-indigo-50 !text-indigo-400  ;
}
.markdown-alert-warning {
  @apply !border-yellow-100 bg-yellow-50 !text-yellow-400 ;
}
.markdown-alert-tip {
  @apply !border-green-100 bg-green-50 !text-green-400 ;
}
.markdown-alert-important {
  @apply !border-purple-100 bg-purple-50 !text-purple-400 ;
}
.markdown-alert-caution {
  @apply !border-red-100 bg-red-50 !text-red-400 ;
}
.markdown-alert-title {
  @apply !mb-0 !text-inherit !font-bold;
}
